<div class="card mt-3">
    <div class="card-body">
        <form class="d-flex">
            <input [(ngModel)]="listFilter" 
                    name="txtListFIlter" 
                    class="form-control me-2" 
                    type="text"
                    placeholder="Filter">
        </form>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        Filtering by: {{listFilter}}
    </div>
</div>

<div class="mt-3">
    <button class="btn btn-primary" (click)="toggleImages()">{{areImagesVisible ? 'Hide' : 'Show'}} Images</button>
</div>

<div class="table-responsive mt-3" *ngIf="products != null && products.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>Item Image</th>
                <th>Code</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Release Date</th>
                <th>Star Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td><img *ngIf="areImagesVisible" [src]='product.imageUrl' [title]='product.name | uppercase'
                        [style.width.px]='imageWidth' [style.margin.px]='imageMargin'></td>
                <td>{{product.code | lowercase | convertToSpaces:'-'}}</td>
                <td><a [routerLink]="['/products', product.id]">{{product.name | uppercase}}</a></td>
                <td>{{product.price | currency:'EUR':'symbol':'2.2-2' }}</td>
                <td>{{product.releaseDate | date}}</td>
                <td>
                    <app-star-rating [rating]="product.starRating" (notify)="onNotify($event)"></app-star-rating>
                </td>
            </tr>
        </tbody>
    </table>
</div>