<div>
    <h3>Welcome to the Product Management System</h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aspernatur sit cum cumque quia eum? Nulla, perspiciatis sapiente qui voluptate sunt et recusandae, corporis ea quia rerum dolorem animi hic?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sunt voluptates quidem saepe beatae ut adipisci consequuntur asperiores architecto veritatis debitis quisquam et repellendus odio minus exercitationem velit, facilis sint!
    </p>
</div>